.dialog_handler {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: none;
  z-index: 100000;
}

.dialog_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(#000, 0.4);
}

.dialog_tcell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.dialog {
  max-width: 500px;
  width: 100%;
  background-color: #fff;
  box-shadow: $shadow;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  overflow: auto;
  max-height: 80vh;
  display: inline-block;
  text-align: left;
}

.dialog_head {
  padding: 2rem;
  position: relative;
  text-transform: uppercase;
  font-weight: 500;
  border-bottom: 1px solid whitesmoke;
}

.dialog_close_icon {
  position: absolute;
  top: 0;
  right: 0;
  height: 6.5rem;
  width: 6.5rem;
  font-size: 3rem;
  padding: 0.9rem;
  text-align: center;
  cursor: pointer;
  transition: all .3s;
  &:hover { color: $pink; }
}

.dialog_body {
  padding: 2rem;
}

#dialog_youtube {
  padding: 0;
  max-width: 900px;
  iframe {
    width: 100%;
    height: 50rem;
    max-height: 80vh;
  }
}

#dialog_gallery {
  padding: 0;
  width: auto;
  img { max-height: 80vh; }
}
