.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $blue;
  height: $button_height;
  z-index: 5;
  &:not(.no_transition) {
    .nav_outer {
      transform: translateX(16.5rem);
      transition: all 0.3s #{$bezier};
      transition-delay: 0.2s;
    }
    .header_buy_ticket {
      opacity: 0;
      transform: translateY(-100%);
      transition: all 0.3s #{$bezier};
      transition-delay: 0;
    }
  }
  &.header_buy_ticket_visible {
    .nav_outer {
      transform: none;
      transition-delay: 0;
    }
    .header_buy_ticket {
      transform: none;
      opacity: 1;
      transition-delay: 0.2s;
    }
  }
  .wrapper {
    display: table;
      transition: all 0.6s #{$bezier};
      transform: translateZ(0) scale(1) translateY(-100%);
      opacity: 0;
    &.animated {
      transform: translateZ(0) scale(1) translateY(0%);
      opacity: 1;
    }
  }
}

.header_el {
  display: table-cell;
  vertical-align: middle;
}

.header_logo {
  width: 8rem;
  img { width: 6rem; }
}

.nav_outer {
  text-align: right;

}

.nav {
  float: left;
  width: calc(100% - #{$button_height});
  height: $button_height;
  overflow: hidden;
  a {
    padding: 0 1rem;
    line-height: $button_height;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.6rem;
    transition: all .3s;
    &:hover {
      background-color: rgba(#fff, 0.1);
    }
    &.active { color: #bbe9f7; }
  }
}

.burger {
  float: right;
  color: #fff;
  width: $button_height;
  height: $button_height;
  line-height: $button_height;
  text-align: center;
  font-size: 2.4rem;
  .dropdown_trigger {
    width: 100%;
    height: 100%;
    position: relative;
    transition: all .3s;
    cursor: pointer;
    &:hover { background-color: rgba(#fff, 0.1); }
  }
  .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -1.2rem 0 0 -1.2rem;
  }
}

.header_buy_ticket {
  width: 1rem;
  .button {
    width: 16.5rem;
  }
}
