.speakers_slider {
  .slide {
    width: 100%;
    margin-right: 20px;
    display: flex;
    @media screen and (max-width: $desc) {
      flex-direction: column-reverse;
    }
  }
}

.speakers_slider_mini {
  .speaker_image {
    width: (100% / 7);
    height: auto;
    padding-bottom: (65% / 7);
    filter: grayscale(1);
    transition: all .4s;
    &.is-nav-selected {
      filter: grayscale(0);
    }

    @media screen and (max-width: $tablet) {
width: (100% / 5);
padding-bottom: (65% / 5);
    }
    @media screen and (max-width: $mobile) {
      width: (100% / 3);
      padding-bottom: (65% / 3);
    }
  }
}

.speaker_content {
  padding-right: 3rem;
  float: left;
  width: 50%;
  @media screen and (max-width: $desc) {
    width: 100%;
    padding: 0;
    padding: 3rem 0;
  }
}

.ie .speaker_image:after { display: none; }

.speaker_image {
  width: 50%;
  height: 50rem;
  position: relative;
  float: right;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-image: linear-gradient(to right, #4eb7dd, #10c9c7 50%, #15bd9b), linear-gradient(#000000, #000000);
    mix-blend-mode: multiply;
  }
  .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    filter: grayscale(1) contrast(87%);
  }
  @media screen and (max-width: $desc) {
    width: 30rem;
    height: 20rem;
  }
}

.speaker_heading {
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 4rem;
  p { padding-top: 0.5rem; }
  @media screen and (max-width: $desc) {
    margin-bottom: 2rem;
  }
}

.speaker_socials {
  margin-bottom: 2rem;
}
