$grid_margin: 20px;
$grid_margin_bigger: 60px;

.row { @include clearfix; }

[class*='col_'] {
  margin-right: $grid_margin;
  float: left;
  &:last-child { margin-right: 0; }
}

.grid {
  margin-bottom: -$grid_margin;
  width: 100%;
  &>[class*='col_'] { margin-bottom: $grid_margin; }
  &.margin_bigger {
    margin-bottom: -$grid_margin_bigger;
    &>[class*='col_'] { margin-bottom: $grid_margin_bigger; }
  }
}

.col_2 { width: calc(100% / 12 * 2 - #{$grid_margin/6});  &:nth-child(6n+0) { margin-right: 0; } }
.col_2_4 { width: calc(100% / 12 * 2.4 - #{$grid_margin/5});  &:nth-child(5n+0) { margin-right: 0; } } // 5 в ряд
.col_3 {
  width: calc(100% / 12 * 3 - #{$grid_margin - $grid_margin/4});
  &:nth-child(4n+0) { margin-right: 0; }
  &:nth-child(4n+1) { clear: left; }
}
.col_4 {
  width: calc(100% / 12 * 4 - #{$grid_margin - $grid_margin/3});
  &:nth-child(3n+0) { margin-right: 0; }
  &:nth-child(3n+1) { clear: left; }
}
.col_5 { width: calc(100% / 12 * 5 - #{$grid_margin/2}); }
.col_6 { width: calc(100% / 12 * 6 - #{$grid_margin/2}); &:nth-child(2n+0) { margin-right: 0; } }
.col_7 { width: calc(100% / 12 * 7 - #{$grid_margin/2}); }
.col_8 { width: calc(100% / 12 * 8 - #{$grid_margin/2}); }
.col_9 { width: calc(100% / 12 * 9 - #{$grid_margin/2}); }
.col_10 { width: calc(100% / 12 * 10 - #{$grid_margin/2}); }
.col_11 { width: calc(100% / 12 * 11 - #{$grid_margin/2}); }

@media screen and (max-width: $desc) {
  .col_desc_6 { width: calc(100% / 12 * 6 - #{$grid_margin/2}); &:nth-child(2n+0) { margin-right: 0; } }
}


@media screen and (max-width: $tablet) {
  .col_tablet_12 {
    width: 100%;
    margin-right: 0;
  }
}
