// Colors
$blue: #4eb7dd;
$green: #66ae00;
$red: #f45353;
$pink: #dd4e7d;
$pink_light: #cf5ed6;
$text: #313131;
$facebook: #3a559f;
$twitter: #50abf1;
$instagram: #c536a4;
$youtube: #dc472e;
$google: #f93f2d;
$linkedin: #007ebb;

// Medias
$mobile: 450px;
$tablet: 768px;
$desc:   1000px;

$button_height: 5.2rem;
$button_fz: 1.8rem;
$button_padding_horizontal: 3rem;
$wrapper_padding: 2rem;

$section_padding: 6rem;

$shadow: 0 0 15px 0 rgba(0, 0, 0, 0.35);

$bezier: cubic-bezier(0.26, 0.83, 0.35, 0.9);

// Mixins
@mixin clearfix {
  *zoom: 1;
  &:before, &:after { content: " "; display: table; }
  &:after { clear: both; }
}

@mixin no_select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
