.program_icons {
  text-align: center;
  img {
    margin-bottom: 1rem;
  }
  .big {
    line-height: 1.2;
  }
}

.cell_block {
  border: 1px solid #ccc;
  cursor: pointer;
}

.cell_block_heading {
  padding: 1rem;
  border-bottom: 1px solid $blue;
}

.program_belt {
  background-color: #ecebeb;
  font-size: 2rem;
  font-weight: 500;
  display: table;
  width: 100%;
  margin-bottom: 0.2rem;
  .dtc {
    padding: 2rem;
  }
  @media screen and (max-width: $tablet) {
    .dtc {
      display: block;
      &:first-child { padding-bottom: 0; }
      &:last-child { padding-top: 0.5rem; }
    }
  }
}

.program_time {
  width: 24.6rem;
  font-size: 2.4rem;
}

.program_heading {
  .icon {
    margin-right: 0.5rem;
    font-size: 2.4rem;
    position: relative;
    top: -0.1rem;
  }
}
